*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 600px; 
    width: 100%;
    background-color: rgb(244, 208, 225);
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

footer {
    background-color:rgb(244, 208, 225);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

footer .ico {
    display: flex;
    align-items: center;
    gap: 20px;
} 

.cont {
    height: 100vh;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 250px;
} 

form input{
    padding: 10px;
    width: 20vw;
}

.card img{ 
    width: 11vw;
}